<!--  Refer from : https://www.npmjs.com/package/add-to-calendar-buttonhttps://www.npmjs.com/package/add-to-calendar-button  -->

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

<add-to-calendar-button
  name="Teh Tarik n Code"
  description="A social meet-up for people who work in tech, no fixed agenda."
  startDate="2025-08-30"
  endDate="2025-08-30"
  startTime="14:00"
  endTime="15:00"
  location="eclipse Café, Lalaport BBCC"
  options="['Apple','Google','iCal','Microsoft365','Outlook.com','Yahoo']"
  timeZone="Asia/Kuala_Lumpur"
  trigger="click"
  inline
  listStyle="modal"
  iCalFileName="Reminder-Event"
/>